.about{
    margin-top: 50px;
}
.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;   
}

.desc{
    width:440px;
}
.myprogress{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
}
.num{
    width: 110px;
    margin-bottom: -10px;
}

.number{
    font-size: 35px;
}
.bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
a{
    text-decoration: none;
    text-decoration-color: coral;
}
h1{
    font-size: 38px;
}